
/* 상단의 정보 */

.mypg_info ul, .mypg_info ol {
  list-style: none;
}


.mypg_info {
  height: 70px;
  border-bottom: 2px solid #EF2A23;
  box-sizing: border-box;

  border-radius: 10px 10px 0 0;
}

.mypg_info>a {
  font-size: 22px;
  font-weight: 600;
  float: left;
  margin-top: 25px;
  margin-left: 80px;
}

.mypg_info>div:nth-child(1) {
  width: 100%;
  height: 100%;
}

.mypg_info>div>ul {
  margin-top: 15px;
  margin-right: 50px;
  float: right;
}


.mypg_info>div>ul>li {
  float: left;
  border-left: 2px solid #b9b9b9;
  padding: 0 10px;
  width: 60px;
}

.mypg_info>div>ul>li > div {
  text-align: center;
}

.mypg_info>div>ul>li > div:nth-child(2) {
  margin-top: 5px;
}


/* 왼쪽 카테고리 메뉴 */

.myInfo_aside ul, .myInfo_aside ol {
    list-style: none;
}

.myInfo_aside {
  margin-top:10px;
  float: left;
  width: 220px;
  height: 350px;
  border: 1px solid #ede6db;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 10px;
}

.myInfo_aside>.mypg_category {
  width: 100%;
  border-radius: 10px;
  height : 100%;
  background: #fff;
  overflow:hidden;
  box-sizing: border-box;
}

.myInfo_aside>.mypg_category>li {
  margin-top : 10px;
  padding : 10px;
  width: 200px;
  height: 40px;
  line-height: 40px;
  color: #111;
  font-size: 17px;
  box-sizing: border-box;
  text-align: center;

  border-radius: 10px;
  margin-bottom: 5px;
  margin-left: 10px;
}

.myInfo_aside>.mypg_category>li:nth-child(1) {
  margin-top: 20px;
}


.myInfo_aside>.mypg_category>li>a {
  display: block;
  line-height: 40px;
  color: #111;
  text-decoration: none;
  font-size: 1em;
}

.myInfo_aside>.mypg_category>li> .cate_current{
  text-decoration-line: underline;
}

.myInfo_aside>.mypg_category>li>a:hover {
  font-weight: bold !important;
  background-color: #eaeaea;
  color: black;
  box-sizing: border-box;
  border-radius: 10px;
}
/* aside 끝 */